.container {
  background-color: #ecf0f1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.inputSearch {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.notFound {
  font-size: 18px;
  font-weight: bold;
  color: #c0392b;
  text-align: center;
  margin-top: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
}

.temp {
  font-size: 54px;
  margin: 0;
  margin-top: 20px;
  color: #2c3e50;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.tempMinMax {
  font-size: 18px;
  margin: 0;
  margin-top: 10px;
  color: #7f8c8d;
  text-align: center;
}

img {
  margin: 0;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
    position: static;
    transform: none;
    margin-top: 50%;
  }

  .inputSearch {
    font-size: 14px;
  }

  .location {
    font-size: 20px;
  }

  .temp {
    font-size: 42px;
  }

  .tempMinMax {
    font-size: 16px;
  }
}



/* rgba(0, 0, 0, 0.2); */
